*{
    /*Establece un reseteo general de estilos para todos los elementos. Elimina márgenes y rellenos predeterminados,
    elimina los estilos de lista y la decoración de texto, establece la familia de fuentes como Arial, Helvetica, 
    sans-serif, y utiliza la caja de modelado con el modelo de caja de borde.*/
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    /*Establece un fondo degradado para el cuerpo del documento, utilizando colores diferentes en navegadores 
    web antiguos y modernos.*/
    background: #00F260;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  ;
}

header{
    /*Configura el estilo del encabezado, con una altura fija, un fondo de color específico y espacio alrededor 
    de los elementos dentro del encabezado.*/
    width: 100%;
    left: 0;
    top: 0;
    height: 90px;
    background-color: #2c0f0f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    position: fixed;
}

.barra{
    display: none;
}

.barra-menu ul{
    display: flex;
}

.barra-menu ul li a{
    /*Oculta la barra de menú por defecto.*/
    /*Configura estilos para los elementos de la lista de la barra de menú, estableciendo color, tamaño de fuente, 
    relleno, borde redondeado y transiciones al pasar el mouse sobre ellos.*/
    display: block;
    color: white;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 10px;
    transition: 0.2s;
    margin: 0 5px;
}

.barra-menu ul li a:hover{
    background-color: rgb(38, 150, 184);
}

.barra-menu ul li a.active{
    background-color: rgb(21, 119, 10);
}

/*Define estilos específicos para pantallas con un ancho máximo.*/
/*Ajusta el relleno del encabezado y revela una barra de menú oculta con un botón.*/
/*Configura la animación y transiciones para mostrar y ocultar la barra de menú en dispositivos móviles.*/
@media(max-width:600px){
    header{
        padding: 0px 30px;
    }

    .barra{
        display: block;
        cursor: pointer;
    }

    .barra .linea{
        width: 30px;
        height: 3px;
        background-color: greenyellow;
        margin: 6px 0px;
    }

    .barra-menu{
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw; /*vw es usado en viewport, equivale a 100% del ancho*/
                        /*en height, utiliza "vh", equivale al 100% del alto*/
        background-color: #2c0f0f;
        transition: 0.5s;
        overflow: hidden;
    }

    .barra-menu.active{
        height: 450px;
    }

    .barra-menu ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .barra-menu.active ul{
        opacity: 1;
    }

    .barra-menu ul li a{
        margin-bottom: 20px;
    }
}